<footer class="site-footer">
  <div class="wrapper">
    <p><a href="#top">Top</a></p>
  </div>
</footer>
{% for item in page.scripts %}
  {% case item.type %}
  {% when "absolute" %}
  <script src="{{ item.url }}" {% if item.module %}type="module"{% endif %}></script>
  {% when "relative" %}
  <script src="{{ item.url | relative_url }}" {% if item.module %}type="module"{% endif %}></script>
  {% when "inline" %}
  {{ item.src }}
  {% endcase %}
{% endfor %}
{% if page.inlinescript %}
{{ page.inlinescript }}
{% endif %}