---
layout: page
title: Site Map
permalink: /sitemap/
page_type: site
---
<h2>project pages</h2>
<ul>
  {% assign titledpages = site.pages | where_exp: "pg", "pg.title" %}
  {% assign categorypages = titledpages | where_exp: "pg", "pg.page_type == 'project'" %}
  {% for my_page in categorypages %}
    {% if my_page.title %}
      <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      <!-- {%- if forloop.last == false %},{% endif %} -->
    {% endif %}
  {% endfor %}
</ul>
<h2>site pages</h2>
<ul>
  <li><a class="page-link" href="{{ site.url }}" >Home</a></li>
  {% assign titledpages = site.pages | where_exp: "pg", "pg.title" %}
  {% assign categorypages = titledpages | where_exp: "pg", "pg.page_type == 'site' and pg.title != 'Site Map'" %}
  {% for my_page in categorypages %}
    {% if my_page.title %}
      <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      <!-- {%- if forloop.last == false %},{% endif %} -->
    {% endif %}
  {% endfor %}
</ul>
