.app {
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  background-color: lightgray;
}
.v-cloak {
  display: none;
}
.app-header, .app-footer {
  background-color: gray;
  color: white;
  padding-left: 0.5rem;
}
.centered {
  display: grid;
  place-items: center;
}
.pancake-stack {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.app-body-content {
  width: 50%;
}

