.app {
  width: 100%;
  overflow: hidden;
  background-color: lightgray;
}
.v-cloak {
  display: none;
}
.app-header, .app-footer {
  background-color: gray;
  color: white;
  padding-left: 0.5rem;
}
.bordered {
  border: 1px solid black;
}
.centered {
  display: grid;
  place-items: center;
}
.layout-rows {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.layout-columns {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.column-width {
  width: 12rem;
}
.app-body-content {
  width: 50%;
  height: 50%;
  overflow: hidden;
}
.menu--svg {
  width: 16px;
  height: 16px;
}

